.auth-background {
    background-size: cover;
    min-height: 100vh;
    background: #acbcc1;
}

.auth-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}