/* src/app/components/task-dialog/task-dialog.component.css */
.full-width {
    width: 100%;
}

.subtasks-section {
    margin-top: 20px;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.subtask-input {
    flex: 1;
    margin-right: 10px;
}

button[mat-mini-fab] {
    margin-bottom: 10px;
}